@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
}

/*Navigationsleiste + Hamburgermenu*/
nav {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 30px;
    height: 40px;
    background-color: rgba(31, 30, 30, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 0;
}

nav ul li {
    float: left;
    display: inline-block;
}

nav ul li a {
    font-size: 16px;
    margin: 25px;
    color: white;
}

nav ul li:hover {
    font-weight: bold;
}

nav .hamburger-icon-container {
    background: transparent;
    height: 3em;
    width: 3em;
    position: relative;
    cursor: pointer;
    border: 10px solid transparent;
    border-radius: 3px;
    align-content: center;
    display: none;
}

.hamburger-icon,
.hamburger-icon:before,
.hamburger-icon:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 1.7em;
    background: white;
    transition: all 0.2s ease;
}

.hamburger-icon {
    top: 0.75em;
}

.hamburger-icon:before {
    top: -0.55em;
}

.hamburger-icon:after {
    top: 0.55em;
}

.hamburger-active .hamburger-icon-container {
    z-index: 100;
}

.hamburger-active .hamburger-icon {
    background: transparent;
    transform: rotate(-135deg)
}

.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
    top: 0
}

.hamburger-active .hamburger-icon:before {
    transform: rotate(90deg)
}

.hamburger-active .hauptmenu {
    top: 0;
}


/*Home Section*/
#home {
    /*Hintergrundfarbe für den Fall, dass das Hintergrundbild nicht geladen wird*/
    background-color: #EF4565;
    background-image: url(home.jpg);  /*In Klammern die Bilddatei angeben, welche für den Hintergrund in der Home-Section benutzt werden soll.
    Bilder müssen entweder im selben Ordner wie html, css Datei sein oder du machst einen extra Ordner nur für die Bilder und musst noch den Pfad mit angeben z.B. Bilder/home.jpg  */
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#home::after {
    /*schwarzes overlay, um Hintergrundbild dunkler zu machen*/
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#home .home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start
}

#home h1 {
    display: block;
    width: fit-content;
    font-size: 7rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#home h1:nth-child(1) {
    animation-delay: 1s;
}

#home h1:nth-child(2) {
    animation-delay: 2s;
}

#home h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #66a5ad;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.3s;
}

#home h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#home h1:nth-child(2) span {
    animation-delay: 1.5s;
}

/*Ende Home Section*/

/*About Section*/
#about .about {
    flex-direction: row;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
}

#about .col-right {
    width: 100%;
    text-align: center;
    padding: 30px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-left .about-img {
    width: 100%;
    position: relative;
    border: 11px solid white;
}

#about .col-left .about-img::after {
    /*Rahmen ums Bild*/
    content: '';
    position: absolute;
    left: -45px;
    top: 35px;
    height: 98%;
    width: 98%;
    border: 10px solid #66a5ad;
    z-index: -1;
}

/*Ende About Section*/

/*Laufbahn Section*/
#laufbahn .laufbahn {
    flex-direction: column;
    text-align: center;
    padding: 100px 0;
}

#laufbahn .laufbahn-bottom {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}

#laufbahn .laufbahn-item {
    flex-basis: 80%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: #66a5ad;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#laufbahn .laufbahn-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#laufbahn .laufbahn-item p {
    color: white;
    text-align: left;
    line-height: 1.9rem;
}

#laufbahn img {
    max-height: 100px;
    padding-bottom: 20px;
}

/* Skill Section */
#skills .skills {
    flex-direction: column;
    margin: 0 auto;
    padding: 100px;

}

#skills .alle-skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#skills h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#skills .skills-item {
    padding: 50px 100px;
}

/*----Skill Bars----*/
.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 15px;
    font-weight: 700;
    color: #231E23;
    text-transform: uppercase;
    margin: 20px 0;
    text-align: left;
}

.skill-bar {
    width: 300px;
    height: 14px;
    background: #231E23;
    border-radius: 3px;
}

.skill-per {
    height: 14px;
    background: #66a5ad;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
    color: white;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #231E23;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    z-index: 2;
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #231E23;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
    z-index: 1;
}


/*Kontakt*/
#kontakt .kontakt {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 100px;
    min-width: 20vh;
}

#kontakt .kontakt-inhalt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

#kontakt .kontakt-item {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;

}

#kontakt .kontakt-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#kontakt .icon {
    width: 90px;
    margin-bottom: 10px;
    padding: 10px;
}

#kontakt .kontakt-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 10px;
}

#kontakt .kontakt-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}


/*Back-to-Top-Button*/
.top {
    background: #EF4565;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}

.top p {
    color: white;
    font-size: 15px;
    font-weight: bold
}

.top:hover {
    padding-top: 2px;
}

.top-active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


/*Footer*/
footer {
    background-color: grey;
    min-height: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.impressum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding-top: 10px;
}

footer h2 {
    color: white;
    text-transform: uppercase;
}

footer h5 {
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.kontaktdaten {
    padding-top: 15px;
}

.kontaktdaten p {
    line-height: 1rem;
}

footer ul li {
    color: white;
    font-size: 12px;
    list-style: none;
}

footer .linkDatenschutz p {
    text-decoration: none;
    font-size: 14px;
    color: #001858;
    font-weight: bold;
}

footer .linkDatenschutz p:hover {
    text-decoration: underline;
}


.datenschutz {
    padding: 20px;
}

.datenschutz p {
    font-size: 14px;
    padding-top: 10px;
    margin: 0;
    line-height: 1.5rem;
}

.datenschutz h2 {
    padding-top: 30px;
}

.datenschutz h3 {
    padding-top: 20px;
}

.datenschutz .backToStart p {
    width: 100%;
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
    padding: 5px;
}

.datenschutz .backToStart p:hover {
    font-weight: bold;
    background-color: #EF4565;
    color: white;
    transition: all .4s;
}




/*-------Media Queries-------*/
@media only screen and (max-width: 1270px) {
    #kontakt .kontakt-inhalt {
        flex-direction: column;
        max-width: 600px;
    }

    #kontakt .kontakt-item {
        margin: 30px;
        flex-direction: column;
        justify-content: space-evenly;
    }
}


/* Media Query für Tablet */
@media only screen and (max-width: 1200px) {
    h1.section-title {
        font-size: 3rem;
    }

    #about .col-right {
        text-align: center;
    }

    #skills .skills-item {
        padding: 30px;
    }

    #kontakt .kontakt-inhalt {
        width: 100%;
        padding: 20px;
        justify-content: center;
        align-content: center;
    }
}



/*Keyframes*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/*End Keyframes*/


/*---Media Queries---*/
@media only screen and (max-width: 825px) {
    nav {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    nav .hauptmenu {
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 99;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease 0s;
        display: flex;
        top: -100%
    }

    nav ul li {
        padding: 20px;
    }

    nav .hamburger-icon-container {
        display: block;
    }

    #laufbahn .laufbahn-item {
        flex-basis: 45%;
        margin: 2.5%;
        width: 450px;
        height: 450px;
    }
}


/* Media Query für Smartphone*/
@media only screen and (max-width: 768px) {
    h1.section-title {
        font-size: 2rem;
    }

    #home h1 {
        font-size: 4rem;
    }

    #about .about {
        flex-direction: column-reverse;
    }

    #about .col-left {
        width: 250px;
        height: 360px;
    }

    #about .col-left .about-img::after {
        content: '';
        position: absolute;
        left: -33px;
        top: 19px;
        border: 7px solid #66a5ad;
    }

    #laufbahn .laufbahn-bottom .laufbahn-item {
        width: 400px;
    }

    #skills .alle-skills {
        flex-direction: column;
    }

    #skills .skills-item {
        padding-bottom: 50px;
    }

    #kontakt .kontakt-inhalt {
        width: 400px;
        padding: 20px;
    }

    footer .impressum {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .col-right {
        padding-top: 20px;
    }
}

/*---für sehr kleine Bildschirme---*/
@media only screen and (max-width: 420px) {
    #about .col-right p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    #laufbahn .laufbahn-bottom .laufbahn-item {
        width: 310px;
    }

    #laufbahn .laufbahn-item h2 {
        font-size: 1.5rem;
    }

    #laufbahn .laufbahn-item p {
        font-size: 1.2rem;
    }

    #kontakt .kontakt-inhalt {
        width: 320px;
    }
}
